# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png

# Android
android/app/build/
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Flutter/Flutter.framework/
macos/Pods/
macos/Runner.xcworkspace/
macos/Runner/GeneratedPluginRegistrant.*

# Windows
windows/flutter/ephemeral/
windows/Runner/GeneratedPluginRegistrant.*

# Linux
linux/flutter/ephemeral/
linux/Runner/GeneratedPluginRegistrant.*

# Web
web/.dart_tool/
web/.packages

# IDEs
.vscode/
.idea/
*.iml

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo

# Office temp files
~$*.docx
~$*.xlsx
~$*.pptx

# Patent folder (ignore if recreated)
Patent/

# Misc
pubspec.lockease
